<!DOCTYPE html>
<html>
<head>
  <title>Noel 的博客</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container showgrid'>
    <header id='main-header'>
      <div id='who-am-i'>
        <hgroup>
          <h1><a href='/' title="Noel的博客">Noel的博客</a></h1>
          <h2>小耐和小许 <strong>来自 广东，珠海。</strong></h2>
          <a href='/about.html' target="_blank" title="声明和致谢">声明和致谢</a>
        </hgroup>
      </div>
      <div id='hybrid-set'>
        <p>欢迎来到Noel的博客。<br />
        互联网陪伴了我的生活和工作大概有15年的时间，之前闲暇时间也有写些博客，发些照片。
        2010年起，接受了公司的一个新任务，随之非常忙碌但也乐在其中。
        目前该工作基本告一段落，技术和团队都逐渐成熟，部级主管、副理和各位小组长都非常给力。
        我可以抽些时间，再来看看一些新鲜事，下班后试着倒腾些好玩的东西。
        在2013年春节假期开始之际，我决定从建一个新的博客开始。(2013年2月8日)<br />
        <!--        声明：本博客以及关联网站所展示内容与我供职的机构无关。内容版权属于Noel个人所有。<br />
        致谢：感谢我的妻子小许提供金钱资助，购买域名和空间，让我除了乱拍照片外多了一个玩耍的地方。<br />
        致谢：新春假期为要完成这一网站，我大概要减少陪她踩单车的时间，谢谢她的理解和包容。<br/>
        2013/2/8  -->
        </p>
      </div>
    </header>
    <article class='post'>
      <%= yield %>
    </article>
    <footer>
      <a href='http://nblog.myplayer3.com'>«回到nblog.myplayer3.com</a>
      <section id='copyright'>© 2013 Noel Blog, All Right Reserved. </section>
    </footer>

  </div>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'noelblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    

</body>
</html>
